.page {
  height: 100%;
}

.modal {
	background-color: grey;
}

.modal-dialog {
	position: absolute;
    top: 30%;
    left: 45%;
    width: 400px;
    background: white;
    height: 350px;
    z-index: 1;
    overflow: auto;
}

.complete-detail-form {
	.modal-dialog {
		height: 430px;
	}
}

.close {
	float: right;	
}

.header-text {
	/*border-bottom: 2px solid $color-bg-gray;*/
    border: 0;
	margin-bottom: 10px;
}

.header-text__title {
	font-size: 2em;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: $color-text-gray-dark;
}

.page1 {
        opacity: 0.25;
        /*background: $color-bg-grey-dark;*/
}


.header-text__close-button {
	float: right;
	font-size: 8em;
}

.btn-icon {
	width: 15px;
    height: 15px;
    padding-right: 20px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-icon--remove {
	background-image: url('http://localhost:8080/images/remove_icon.png');
	cursor: pointer;
}

.content-text {
	margin-top: 30px;
}

.content-text__item {
	margin-bottom: 30px;
	padding: 0 20px;

	input, select {
		padding: 10px 0;
		width: 100%;
	}
}

.content-text__title {
	font-size: 1.4em;
	padding-left: 20px;
	color: $color-text-gray;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.content-text__content {
	display: flex;
	padding-left: 20px;
}

.content-text-content__rect {
	margin-right: 15px;
	font-size: 1.4em;
	border: 1px solid $color-bg-gray;
	flex-basis: 100px;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    cursor: pointer;
}

.content-text-content__rect:hover {
	color: $color-bg-orange;
	border-color: $color-bg-orange;
}

.content-text-content__rect--selected {
	color: $color-bg-orange;
	border-color: $color-bg-orange;
}

.btn-footer-text {
	background: $color-bg-orange;
	color: #ffffff;
    display: flex;
    justify-content: center;
    width: 200px;
    align-items: center;
    margin: auto;
    height: 40px;
    font-size: 1.8em;
    border-radius: 20px 20px;
    cursor: pointer;
}

#caegory_info {
	padding-top: 20px;
}

.content-item {
	margin-bottom: 20px;
	padding-left: 20px;
}

.content-item__title {
	color: $color-bg-gray;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.content-item__content {

}

.uppercase {
	text-transform: uppercase;
}

.separator-content {
	display: inline-block;
	position: relative;
}

.separator-content:before {
	right: 100%;
	content: "";
    width: 9999px;
    height: 1px;
    top: 50%;
    position: absolute;
    background-color: #e0e2e5;
}

.separator-content:after {
	left: 100%;
	content: "";
    width: 9999px;
    height: 1px;
    top: 50%;
    position: absolute;
    background-color: #e0e2e5;
}

.light-gray-color {
	color: $color-text-gray-dark;
}

.orange-color {
	color: $color-bg-orange;
}

.no-content {
	display: none;
}

/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}*/

.dropbtn {
    background-color: $color-bg-orange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 100%;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content:before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent white transparent;
	margin-left: -5px;
}

.dropdown-content:after {
	display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
}

.line-separator {
	height: 1px;
	border-bottom: 1px solid $color-bg-gray;
}

.rect-item {
    border: 1px solid $color-bg-gray;
    padding: 10px 15px;
}