// Color schema

$color-text-gray-light: #c4cacf;
$color-text-gray: #9099ae;
$color-text-gray-dark: #3a3e4a;
$color-text-blue: #42a5f5;

$color-bg-orange: #fe763a;
$color-bg-orange--faded: #fff8f5;
$color-bg-gray-light: #ebedef;
$color-bg-gray: #e0e2e5;