.section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section__header {
  margin-bottom: 20px;
  border-bottom: 1px solid $color-bg-gray;
}

.no-border {
	border: 0;
}

.section__title {
  margin-right: auto;
}

.section__filter {
  margin-right: 30px;
}

.section-columns {
  display: flex;
  flex-grow: 1;
}

.section-column {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.section-column-right {
  /*width: 70%;*/
  padding-left: 20px;
}

.section-column-left {
  /*width: 30%;*/
  flex: 0 0 200px;
  padding-right: 20px;
  border-right: 1px solid $color-bg-gray;
}

.separator {
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 10px;
}

.section-column-header {
	font-size: 2.4em;
	margin-bottom: 10px;
}

.section-column-header-dec {
	font-size: 1.4em;
	font-style: italic;
	margin-bottom: 10px;
}

.section-column__body {
	display: flex;
	flex-direction: column;
	flex-grow: 1; 
}

.section__header--thin {
	margin-bottom: 10px;
}

.section-header {
	display: flex;
	align-items: center;
	position: relative;
}

.section-header__item {
	display: flex;
	align-items: center;
}

.section__back {
	margin-right: 10px;
}

.btn-circle--back {
    background-image: url(/images/icon-back.png);
}

.btn-circle {
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-header__item--forced-center {
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.section-header__item--right {
    margin-left: auto;
}

.btn, .btn-separator {
    background-color: #fe763a;
    color: #fff;
    font-weight: 700;
}

.btn {
    padding: 12px 20px;
    display: block;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
}

.section-header-circle {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 0 16px rgba(29,30,31,.08);
    background-color: #fff;
    color: #fe763a;
    font-size: 1.6rem;
    font-weight: 700;
}

.section__description {
	margin-bottom: 10px;
}

.section-description {
	text-align: center;
}

.section-description__text {
    max-width: 700px;
    margin-bottom: 15px;
    display: inline-block;
    line-height: 1.3em;
    font-size: 1.2rem;
    font-weight: 700;
    color: #9099ae;
}

.section__detail {
    display: flex;
}

.section-detail__description {
    font-size: 1.8em;
    margin-right: 20px;
    /*width: 75%;*/
    background-color: white;
}

.section-detail__content {
    font-size: 1.8em;
    background-color: white;
    /*width: 25%;*/
}

.section-description__title {
	margin-bottom: 10px;
	font-size: 2em;
	color: #3a3e4a;
}

.section__title {
	display: flex;
    flex-direction: column;
    flex-grow: 1;

    .uppercase {
    	font-size: 1.4em;
	    margin-top: 20px;
	    background: white;
	    padding: 15px 0;
	    color: $color-text-gray;
    }
}

.section__additional {
	display: flex;
}

.section-additional__column {
	flex-grow: 1;
}

.section-additional__column-left {
	flex-grow: 1;
	margin-right: 10px;
}

.section-additional-column__item {
	font-size: 1.4em;
    margin-top: 10px;
    background: white;
    padding: 15px 0;
    .orange-color {
        padding-left: 15px;
    }
}

.table {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.table-row {
	padding: 10px 0;
	background-color: #ffffff;
	display: flex;
	margin-right: 10px;
}

.table__header {
	text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: #9099ae;

    .table-row {
		background-color: transparent;
		/*display: inline-flex;*/
	}
}

.table__row {
	display: flex;
}

.table-row--fluid {
	flex-grow: 1;
}

.table-col {
	display: flex;
	flex-basis: 0;
	align-items: center;
	font-size: 1.4em;
    color: $color-text-gray-dark;
}

.table-col--label {
	margin-right: 10px;
	margin-left: 10px;
	flex-basis: 40px;
}

.table-row:hover {
	.table-col-view {
		color: #ffffff;
		background-color: $color-bg-orange;
		border-color: $color-bg-orange;
	}
    .table-col-training {
        color: $color-bg-orange;
    }
}

.table-col-new {
    padding: 6px 10px;
    border: 1px solid green;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: green;
    color: white;
/*    text-transform: capitalize;*/
    text-decoration: none;
    transition: .2s;
}

.table-group {
	margin-bottom: 10px;
	display: flex;
	cursor: pointer;
}

.table-col--name {
	margin-right: 10px;
	flex-grow: 1;
	font-size: 1.4em;
	font-weight: 700;
	line-height: 1.3;
    color: $color-text-gray-dark;
}

.table-col--date {
	margin-right: 40px;
	flex-basis: 75px;
}

.table-col--score {
    flex-basis: 50px;
    margin-right: 20px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 700;
}

.table-col--view {
	flex-basis: 60px;
	margin-right: 10px;
}

.table-col-score--increase {
    color: #66bb6a;
}

.table-col-score--increase:after {
    content: "\2191";
}

.table-col-score:after {
    margin-left: 5px;
    font-size: 1.6rem;
}

.table-col-score--decrease {
	color: #f54254;
}

.table-col-score--decrease:after {
    content: "\2193";
}

.table-col-score--warning {
    color: #fe763a;
    background-color: #fff8f5;
}

.table-col-score--warning:after {
    content: "!";
}

.table-col-score--stable {
    color: #42a5f5;
}

.table-col--compare {
	width: 60px;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.table-col-checkbox {
    width: 25px;
    height: 25px;
    position: relative;
    border: 1px solid #e0e2e5;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}

.table-col-view, .table-col-training {
	padding: 6px 10px;
    border: 1px solid #9099ae;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #9099ae;
    text-transform: capitalize;
    text-decoration: none;
    transition: .2s;
}



@import './header';
@import './title';