.layout {
  height: 100%;
  display: flex;
}

.layout__main {
  padding-right: 45px;
  padding-left: 45px;
  flex-grow: 1;
  overflow: auto;
  background-color: $color-bg-gray-light;
}

.layout__aside {
  width: 250px;
  overflow: auto;
}

.layout__aside--rborder {
    padding-right: 20px;
    border-right: 2px solid #e0e2e5;
}

.layout__header {
  margin-bottom: 20px;
}

.laytout__header--text {
  font-size: 1.6em;
}
